/.vscode
/clue.txt
/venv
/dalat_routes.db
/vietnam-251124.osm.pbf
/vietnam-251124.osrm
/vietnam-251124.osrm.cnbg
/vietnam-251124.osrm.cnbg_to_ebg
/vietnam-251124.osrm.datasource_names
/vietnam-251124.osrm.ebg
/vietnam-251124.osrm.ebg_nodes
/vietnam-251124.osrm.edges
/vietnam-251124.osrm.enw
/vietnam-251124.osrm.fileIndex
/vietnam-251124.osrm.geometry
/vietnam-251124.osrm.hsgr
/vietnam-251124.osrm.icd
/vietnam-251124.osrm.maneuver_overrides
/vietnam-251124.osrm.names
/vietnam-251124.osrm.nbg_nodes
/vietnam-251124.osrm.properties
/vietnam-251124.osrm.ramIndex
/vietnam-251124.osrm.restrictions
/vietnam-251124.osrm.timestamp
/vietnam-251124.osrm.tld
/vietnam-251124.osrm.tls
/vietnam-251124.osrm.turn_duration_penalties
/vietnam-251124.osrm.turn_penalties_index
/vietnam-251124.osrm.turn_weight_penalties